<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<%- if current_user.near_admin? %>
  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>
  <p>
    <%= link_to barcodes_user_path(@user) do %>
      <strong>Barcodes</strong>
    <% end %>
  </p>
<% end%>
<%= render partial: 'shared/actions', locals: {item: @user} %>
