<%= form_for(@barcode) do |f| %>
  <% if @barcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@barcode.errors.count, "error") %> prohibited this barcode from being saved:</h2>

      <ul>
      <% @barcode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <%- if current_user.can_write? %>
    <div class="field">
      <%= f.label :user %><br />
      <%= f.collection_select(:user_id, User.all.all, :id, :login) %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'GO!', class: 'btn btn-primary' %>
  </div>
<% end %>
