<p id="notice"><%= notice %></p>
<%= div_for @barcode do |barcode| %>
  <p>
    <strong>Code:</strong>
    <%= barcode.code %>
  </p>

  <% if current_user.near_admin? %>
    <p>
      <strong>User:</strong>
      <%= link_to barcode.user.login, barcode.user %>
    </p>
  <% else %>
    <p>That's the most info I can tell you, sorry, mate.</p>
  <% end %>

  <%= render partial: 'shared/actions', locals: {no_destroy: true, item: barcode} %>
<% end %>